<div class="container">
  <div class="row">

    <div class="col-md-1">
    </div>

     <div class="col-md-10">
         <div class="top_content" style="background-image: url(<%= asset_path('nagano_cake画像/top.jpg') %>)">
          <div class="top_content_text">
           <p>ようこそ、ながのCAKEへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。</p>
          </div>
         </div>
     </div>

         <div class="bottom_content">
            <h3>新着商品</h3>

             <div class="new_item_area">
                <% @items.last(5).reverse.each do |item| %>
               <div class="new_item">
                <%= link_to item.name , item_path(item) %>
                <%= item.price %>
               </div>
               <% end %>
             </div>


         </div>
　　　<!--<div class="col-md-10">の/div-->
      </div>

 <div class="col-md-1">
    </div>
