/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
}

main {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
}

.navbar {
width: 100%;

}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color : #212529;
}


.container {
  margin: 20px 0;
}

.field {
  display:flex;
  margin:10px 0;
}


.label {
  height:30px;
  width:180px;
}

.namelabel {
  height:30px;
  width:120px;
}

.sublabel {
  height:30px;
  width:60px;
}

.form {
  height:30px;
  margin: 0 20px 0 0;
}



.longform {
  height:30px;
  width: 450px;
  margin: 0 20px 0 0;

}

.actionbtn {
  height:30px;
  width:100px;
}


h1 {
  text-align: center;
}

.about_text {
  text-align: center;
}

 .toppic {
   display: block;
   margin: 30px auto;
   object-fit: cover;
 }

.top_content {
   display: flex;
   width: 80%;
   height: 500px;
   align-items: center;
   margin: 30px auto;
   object-fit: cover;
}

.bottom_content {
   display: block;
   width: 80%;
   height: 400px;
   justify-content: center;
   align-items: center;
   margin: 20px auto;
}

.top_content_text {
  display: flex;
  width: 60%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 30% 3% 7% 30%;
}

p {
  margin: 0 auto;
  color: white;
  font-weight: bold;
}

.new_item_area {
  display: flex;
  margin: 10px;
  height: 300px;
}

.new_item {
  width: 25%;
  background-color: rgba(0, 255, 255, 0.5);
  padding: 5px;
  margin: 5px;
}

.custom-link {
  color: white;
}